<!-- Modal -->
<div class="modal fade" id="<%= Id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog <% if(largeModal) { %> <%= 'modal-lg' %> <%}%> %>">
    <div class="modal-content">
      <div class="modal-header primary">
        <button type="button" class="close modalCloseButton" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= headerText %></h4>
      </div>
      <div class="modal-body">
          <%= content %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn modalCloseButton btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn modalActionButton <%= actionButtonClass %>"><%= actionButtonText %></button>
      </div>
    </div>
  </div>
</div>
